.button {
  border: none;
  color: white;
  padding: 10px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;  
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: .4s;
  cursor: pointer;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.p-2 {
  height:24rem;
  background-color: #fff;
  border-radius: 0.5rem; 
  overflow:scroll
}
.form-control {
  border-radius: 25px;
  border: 1px solid #0b93f6;
  padding: 10px 20px;
  margin: 10px 0;
  width: 100%;
  box-sizing: border-box;
  outline: none;
  background-color: #e5e5ea;
}
.form-control:focus {
  border: 1px solid #0b93f6;
  box-shadow: 0 0 8px 0 #0b93f6;
}